.search-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.search-input{
    width: 100%;
    padding: 10px;
    border: 4px solid #007ee6;
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    font-size: 20px;
    background: none;
}
.search-button{
    text-align: center;
    height: 51px;
    width: 100px;
    outline: none;
    cursor: pointer;
    border: 4px solid #007ee6;
    border-radius: 0 10px 10px 0 ;
    border-left: none;
    background: none;
    font-size: 20px;
    color: #007ee6;
    border-left: 4px solid #007ee6;
}
